h1{
    color: blue;
}
p{
    background-color: brown;
}
#first_h1{
    text-decoration: underline;
}
.italic{
    font-style: italic;
}
.white{
    color: floralwhite;
}
[href]{
    font-size: 50px;
}
[type = 'password']{
    border: solid gray 2px;
}
nav a{
    text-decoration: line-through;
}
nav > a{
    font-weight: bold;

}
button:active{
background-color: blue;
}
input:focus{
    border:black solid 4px;

}
img{
    width: 40%;
}
img:hover{
    border: green 2px solid;
}