/* 1 */
/* p{
    color: red;
} */



/* 2 */
/* #messi{
    background-color: #00FF00;
} */



/* 3 */
/* .changeSize{
font-size: 24px;
} */



/* 4 */
/* div{
    font-size: 3em;
    background: wheat
  } */
 


  /* 5 */
  /* #div1{
    color: black;
  }
  #div2{
    color: blue;
  } */


/* 6 */
  /* [target='_blank']{
      color: yellow;
  } */



  /* 7 */
  /* ul ol {
      font-weight: bold;
  } */



/* div span {
      font-size: 18px;
  }
div>span>span{
    font-style: italic;
} */



