
/* 1 properties*/
/* div{
    background-color: wheat;
    color: green;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
  
  } */


  /* 2 properties*/
  /* a{
    display: inline-block;
    width: 100px;
    line-height: 100px;
    background:wheat;
    color: green;
    text-decoration: none;
    text-align: center;
    font:  italic bold 12px/30px Georgia, serif;
  } */


  /* 1 background */
  /* div{
      height: 135px;
      width: 500px;
     background-image: url(ttt.jpg ) ;
     background-size: 75px 75px;
     /* repeat repeats horizontally */
     /* background-repeat: repeat-x; */
     /* repeat vertical */
     /* background-repeat: repeat-y; */
     /* not repeat */
     /* background-repeat: no-repeat;
     
  } */


  /* 2 background */
  /* div{
      height:300px;
      width: 800px;
      background-image:url(gg.jpg); 
      /* 2.1 
      background-repeat: no-repeat; 
      /* 2.2 
      background-size: contain; 
      /* 2.3 
       background-size: cover; 
  } */



  /* border */
  /* div{
    width: 200px;
    height:200px;
    background:wheat;
    font-size:30px;
    text-align:center;
    line-height:200px;
   border: solid 2px;
    border-color: blue;
    border-radius: 10px;
  }

 */



 /* display 1 */
 /* span{
    background: red;
    display: block;
  }
  div{
    background: blue;
  } */



  /* display 2 */
  /* div{
    background: red;
    display: inline-block;
  } */


  /* display 3 */
  /* #span1{
    background: red;
  }
  #span2{
    background:yellow;
    display: inline-block ;
    width: 500px;
  } */



  /* box model 1 */
  /* div{
    background: wheat;
    width:400px;
    border: 2px solid green;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 45px;
    padding-bottom: 45px; */


    /* box model 2 */
    /* #a >div {
        background:wheat;
       margin-left: 40px;
         margin-right: 40px;
        margin-top:50px;
         margin-bottom: 50px;
      }
      
      #a{
        border:1px solid black; */




