.menu{
    background-color: #D5B0AC;
    text-align: center;;
}
.menu span{
    color:#402E2A;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    height: 30px;
   line-height: 30px;
}
span:hover{
    background-color: #9CD08F;
    color : #FFFFFF;
    cursor: pointer;
}